@font-face {
  font-family: "Neo Sans Light";
  src: url("/fonts/neosansstd-light.otf");
}

@font-face {
  font-family: "Neo Sans Medium";
  src: url("/fonts/neosansstd-medium.otf");
}

@font-face {
  font-family: "Neo Sans Regular";
  src: url("/fonts/neosansstd-regular.otf");
}

body {
  background-color: #545454;
  color: #FFFFFF;
  font-family: "Neo Sans light";
}

.App {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// material UI override changes
.MuiBackdrop-root {
  background-color: #ffff !important;
}

.MuiDrawer-paper {
  height: auto !important;
}
